html {
	height: 100%;
	font-family: 'Bungee', cursive;
}
body {
	height: 100%;
	background: url('../images/X-wingSWB.png') no-repeat center center fixed; 
	background-size: cover;
}
h1 {
	text-align: right;
	margin-top: 0px;
	margin-right: 36px;
	font-size: 96px;
	height: 84px;
}
h2 {
	font-size: 32px;
}
#container {
	width: 100%;
	height: 100%;
}

#player, #enemies, #opponent {
	height: 200px;
}
#chooser, #player, #opponent, #display {
	margin-left: 14px;
}
#enemies h2 {
	margin-left: 14px;
}
#display {
	font-family: "Arial Rounded MT Bold", sans-serif;
	font-size: 24px;
}
.card {
	text-align: center;
	display: inline-block;
	color: black;
	background-color: #eee;
	border: #222 2px solid;
	width: 200px;
	height: 150px;
	margin-top: 8px;
	cursor: pointer;
}

.card img {
	width: 175px;
	height: 110px;
}
#enemies .card {
	background-color: red;
}
#opponent .card {
	background-color: #111;
	color: #eee;
}

button {
	margin: 28px 0 14px 14px;
	width: 128px;
	height: 32px;
	font-size: 24px;
	font-family: "Arial Rounded MT Bold", sans-serif;
	border: 1px #444 solid;
	box-shadow: 2px 2px 4px #000205;
	background-color: #ccc;
	border-radius: 2px;
	cursor: pointer;


}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 64px;
		height: 68px;
	}
}